@import "../../../../../App/variables";

.chart-card {
  padding: 34px 25px 25px;
  margin-bottom: 10px;

  &__header {
    display: flex;
    align-items: center;
  }

  &__header-title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;

    color: rgba(0, 0, 0, 0.54);
  }

  &__header-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__header-button {
    width: 32px;
    height: 32px;
    background: none;
    border: none;

    & + & {
      margin-left: 30px;
    }

    &:hover {
      &:first-child path {
        stroke: $arrow;
      }

      &:not(:first-child) path {
        fill: $arrow;
      }
    }
  }

  &__footer {
    display: flex;
    padding: 15px 25px 0;
  }

  &__footer-button {
    width: 165px;
    height: 40px;
    background: none;
    border: 1px solid $c2;
    border-radius: 3px;
    margin-right: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    &:hover,
    &--active {
      background-color: $push;
    }
  }
}
